<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        VIDEOS!
    </title>
    <link href="https://vjs.zencdn.net/7.1.0/video-js.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>
    <script src="https://vjs.zencdn.net/7.1.0/video.js"></script>
</head>

<body>

    <div id="videoContainer" class="main" style="width: 75%;">
    </div>

    <script>
        const $videoCont = $("#videoContainer");
        const instanceSrc = "public/videos/{{stream_key}}/output.m3u8";

        function addVideo() {
            const id = 'video' + (new Date()).getTime();

            $videoCont.html(
                '<video id="' + id + '" class="video-js vjs-default-skin vjs-16-9" controls  width="75%" preload="auto" autoplay data-setup="">' +
                '<source src=' + instanceSrc + ' type="application/x-mpegURL">' +
                "</video>"
            );

            setTimeout(function () {
                videojs(id, { "autoplay": true }).ready(function () {
                    this.play();
                });
            }, 200);
        }


        function autoCheck(callback) {
            (function check() {
                $.ajax(instanceSrc)
                    .then(callback)
                    .fail(function () {
                        setTimeout(check, 1000);
                    });
            })();
        }

        autoCheck(addVideo);
    </script>

</body>

</html>